<h1> Applications Index Page</h1>

<% @applications.each do |app| %>
  <div>
  <h1 style="text-align: center;"><%= link_to app.name, "/admin/applications/#{app.id}" %></h1>
  <p>
    <%= app.street %>
    <%= app.city %>
    <%= app.state %>
    <%= app.zip_code %>
  </p>
  </div>
<% end %>
