<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: white;
  background-image: none;
}
</style>
</head>

<p class="lead">Check Out All Our Awesome and Ready To Be Adopted Pets!</p>

<p><%= link_to 'Start an Application', '/apps/new', method: :get %></p>

<% @pets.each do |pet| %>
  <h1><%= link_to pet.name, "pets/#{pet.id}"%></h1>
    <p>
      <%= image_tag "#{pet.image}", :size => '200x200' %>
      <%= pet.breed %><br>
      <%= pet.age %><br>
    </p>
<% end %>
</body>
