<h1> <%= @app.name.capitalize %>'s Application</h1>

<%= render 'app_show' %>

<% if @app.pets.count == 0 %>
  <%= render 'no_pets' %>
<% else %>
  <%= render 'pets_on_app' %>
<% end %>

<% if @app.application_status == 'In Progress' %>
  <%= render 'search_pets' %>
<% end %>

<% if @app.application_status == 'In Progress' %>
  <%= render 'adopt_pet' %>
<% end %>

<% if @app.pets.any? && @app.application_status == 'In Progress' %>
  <%= render 'submit' %>
<% end %>


